.jumbotron {
  background-image: url('./plane.jpg'); 
  background-position: center;
  background-size: cover;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 400px;
}
i {
  background: none;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}